/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.CancelItinerary
import io.swagger.client.model.Errors
import io.swagger.client.model.InlineResponse200
import io.swagger.client.model.InlineResponse2001
import io.swagger.client.model.Itinerary
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object ItineraryApi {

  /**
   * 
   * 
   * Expected answers:
   *   code 200 : InlineResponse2001 (stays)
   *   code 400 : Errors (Bad Request)
   *   code 401 : Errors (Unauthorized)
   * 
   * Available security schemes:
   *   bodyHash (apiKey)
   *   consumerKey (apiKey)
   *   hmac (apiKey)
   *   hmacTimestamp (apiKey)
   *   hmacVersion (apiKey)
   *   sessionUuid (apiKey)
   */
  def guestStaysGet()(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[InlineResponse2001] =
    ApiRequest[InlineResponse2001](ApiMethods.GET, "https://virtserver.swaggerhub.com/SmartBear-CC/Natalie_TestAutoMock/1.0.0", "/guest/stays", "application/json")
      .withApiKey(apiKey, "X-Body-Hash", HEADER)
      .withApiKey(apiKey, "X-Consumer-Key", HEADER)
      .withApiKey(apiKey, "X-HMAC", HEADER)
      .withApiKey(apiKey, "X-HMAC-Timestamp", HEADER)
      .withApiKey(apiKey, "X-HMAC-Version", HEADER)
      .withApiKey(apiKey, "X-Session-Uuid", HEADER)
      .withSuccessResponse[InlineResponse2001](200)
      .withErrorResponse[Errors](400)
      .withErrorResponse[Errors](401)
        /**
   * Cancel already processed booking
   * 
   * Expected answers:
   *   code 200 : InlineResponse200 (Booking cancelation received, booking will be marked as canceled.)
   *   code 400 : Errors (Bad Request)
   *   code 401 : Errors (Unauthorized)
   * 
   * Available security schemes:
   *   consumerKey (apiKey)
   * 
   * @param guest Guest information
   */
  def itineraryBookingsDelete(guest: Option[CancelItinerary] = None)(implicit apiKey: ApiKeyValue): ApiRequest[InlineResponse200] =
    ApiRequest[InlineResponse200](ApiMethods.DELETE, "https://virtserver.swaggerhub.com/SmartBear-CC/Natalie_TestAutoMock/1.0.0", "/itinerary/bookings", "application/json")
      .withApiKey(apiKey, "X-Consumer-Key", HEADER)
      .withBody(guest)
      .withSuccessResponse[InlineResponse200](200)
      .withErrorResponse[Errors](400)
      .withErrorResponse[Errors](401)
        /**
   * Booking information extracted from mails to be processed by conichi
   * 
   * Expected answers:
   *   code 200 : InlineResponse200 (Booking itinerary accepted and will be processed.)
   *   code 400 : Errors (Bad Request)
   *   code 401 : Errors (Unauthorized)
   * 
   * Available security schemes:
   *   basicAuth (basic)
   *   consumerKey (apiKey)
   * 
   * @param guest Guest information
   */
  def itineraryBookingsPost(guest: Option[Itinerary] = None)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[InlineResponse200] =
    ApiRequest[InlineResponse200](ApiMethods.POST, "https://virtserver.swaggerhub.com/SmartBear-CC/Natalie_TestAutoMock/1.0.0", "/itinerary/bookings", "application/json")
      .withCredentials(basicAuth)
      .withApiKey(apiKey, "X-Consumer-Key", HEADER)
      .withBody(guest)
      .withSuccessResponse[InlineResponse200](200)
      .withErrorResponse[Errors](400)
      .withErrorResponse[Errors](401)
      

}

