/*
 * Simple Inventory API
 *
 * This is a simple API
 *
 * OpenAPI spec version: 1.0.0
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

using System;
using System.Collections.Generic;
using System.Collections.ObjectModel;
using System.ComponentModel;
using System.IO;
using System.Linq;
using System.Net;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Mvc;
using Newtonsoft.Json;
using Swashbuckle.SwaggerGen.Annotations;
using IO.Swagger.Models;

namespace IO.Swagger.Controllers
{ 
    /// <summary>
    /// 
    /// </summary>
    public class DefaultApiController : Controller
    { 

        /// <summary>
        /// searches inventory
        /// </summary>
        
        /// <response code="200">search results matching criteria</response>
        /// <response code="0">General Error</response>
        [HttpGet]
        [Route("/SmartBear-CC/BeezUP/1.0.0/inventory")]
        [SwaggerOperation("SearchInventory")]
        public virtual void SearchInventory()
        { 
            throw new NotImplementedException();
        }


        /// <summary>
        /// get smth
        /// </summary>
        
        [HttpGet]
        [Route("/SmartBear-CC/BeezUP/1.0.0/smth")]
        [SwaggerOperation("SmthGet")]
        public virtual void SmthGet()
        { 
            throw new NotImplementedException();
        }
    }
}
